.List {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
}

.List_Header {
  display: flex;
  align-content: center;
  align-items: baseline;
  margin: 8px;
}

.List_Title {
  color: #111;
  margin: 0 8px;
}

.List li {
  padding: 8px;
  margin: 8px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .List li {
    width: 300px;
  }
}

.item-selected {
  list-style-type: "❎";
}
