.Delete_Application {
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #111;
  display: block;
  flex: 1 0 auto;
  margin: 4px 0;
  padding: 4px 8px;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  transition: ease-in-out 300ms;
}

.Delete_Application:hover {
  cursor: pointer;
  transition: ease-in-out 300ms;
  background: #ffb6b6;
}

.Delete_Application::after {
  content: "🗑️";
  padding: 0 8px;
}
