.Header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  align-content: center;
  justify-content: center;
}

.Header-Logout {
  align-self: center;
  margin: 8px;
}
