.Navbar {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  align-content: center;
  justify-content: center;
  list-style-type: none;
  color: #fefefe;
}
.Navbar > li,
.Navbar > li a {
  color: #fefefe;
  padding: 8px;
  text-decoration: none;
  border: 1px solid transparent;

}

.Navbar > li :hover{
  color: #fefefe;
  text-decoration: none;
  border: 1px solid #fefefe;
}
